<script>
  $(document).ready(function() {
       $(".faded").hide();
});

$(document).ready(function() {
      $(".faded").fadeIn(1500);
});
</script>


<div class="sidenav">
  <a class="whitelink" href="#">Home</a>
  <a class="whitelink" ui-sref="ethernetswitches">Ethernet Switches</a>
  <a class="whitelink" ui-sref="ethernetextenders">Ethernet Extenders</a>
  <a class="whitelink" ui-sref="mediaconverters">Media Converters</a>
  <a class="whitelink" ui-sref="powersupplies">Power Supplies</a>
  <div class="foot">
  <a class="follow" href="https://www.facebook.com/EtherWAN" target="_blank"><img src="https://i.imgur.com/TP9ajvD.png" height="25" width="25"alt=""></a>
  <a class="follow" href="https://www.linkedin.com/groups/4003843/profile" target="_blank"><img src="https://i.imgur.com/HC9q1tb.png" height="23" width="23" alt=""></a>
  <a href="https://www.youtube.com/user/EtherWANSystems" target="_blank"><img src="https://i.imgur.com/Z3o4vWM.png" height="25" width="25" alt=""></a>
  <p class="smalltext">Copyright © 2018 EtherWAN Systems, Inc. All rights reserved.</p>
  </div>
</div>

<div class="fuller sidemargin faded">
<div ng-controller="ProductsController as pCtrl">
   <div ng-repeat="product in pCtrl.products | orderBy:'name' | filter:{category: 'Media Converters'}">
    <div class="main col s12 m6 l3">
      <div>
        <div class="card-image">
          <img ui-sref="viewProduct({productId: product._id})" ng-src="{{product.imageURL}}" height="200">
<!--           <a class="btn-floating halfway-fab waves-effect waves-light green" ng-click="pCtrl.addItemToCart(product)"><i>ADD</i></a>
 -->        </div>
        <div class="card-stacked">
        <div class="card-content">
          <p class="content">{{product.name}}
          <br>${{product.price}}</p>
          <!-- <a class="btn halfway-fab waves-effect waves-light black" ng-click="pCtrl.addItemToCart(product)"><i>ADD</i></a> -->
          <a class="addtocart" ng-click="pCtrl.addItemToCart(product)">Add to cart</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>




