<!-- <script>
  $(document).ready(function() {
       $(".scrollshow").hide();
});

$(window).scroll(function() {
if ($(this).scrollTop()> 10) {
$('.scrollshow').show();
}
});

</script> -->

<!-- <div class="advertise">
  <a href="/#!/products/58b600ffefe5a6277d2680ff" class="image2 box1"></a>
  <li class="image box2"></li>
  <li class="image box3"></li>
</div> -->

<div class="sidenav">
  <a class="whitelink" href="#">Home</a>
  <a class="whitelink" ui-sref="ethernetswitches">Ethernet Switches</a>
  <a class="whitelink" ui-sref="ethernetextenders">Ethernet Extenders</a>
  <a class="whitelink" ui-sref="mediaconverters">Media Converters</a>
  <a class="whitelink" ui-sref="powersupplies">Power Supplies</a>
  <div class="foot">
  <a class="follow" href="https://www.facebook.com/EtherWAN" target="_blank"><img src="https://i.imgur.com/TP9ajvD.png" height="25" width="25"alt=""></a>
  <a class="follow" href="https://www.linkedin.com/groups/4003843/profile" target="_blank"><img src="https://i.imgur.com/HC9q1tb.png" height="23" width="23" alt=""></a>
  <a href="https://www.youtube.com/user/EtherWANSystems" target="_blank"><img src="https://i.imgur.com/Z3o4vWM.png" height="25" width="25" alt=""></a>
  <p class="smalltext">Copyright © 2018 EtherWAN Systems, Inc. All rights reserved.</p>
  </div>
</div>



<!-- <div class="jumbotron jumbotron-fluid mainjumbo">
  <div class="container animation-box">
 <h1 class="jumbot first-text">EtherWAN</h1>
 <h1 class="jumbot second-text">“When Connectivity is Crucial"</h1>
 <h1 class="jumbot third-text">EtherWAN</h1>
 <h1 class="jumbot fourth-text">EtherWAN</h1>
  </div>
</div>
 -->

  <div class="carousel carousel-slider center sidemargin2" data-indicators="true">
    <div class="carousel-fixed-item center">
<!--       <a class="btn waves-effect white grey-text darken-text-2">button</a>
 -->    </div>
    <div class="carousel-item blue white-text" href="#one!">
<!--       <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p> -->
    </div>
    <div class="carousel-item yellow white-text" href="#two!">
<!--       <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p> -->
    </div>
    <div class="carousel-item purple white-text" href="#three!">
<!--       <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p> -->
    </div>
    <div class="carousel-item pink white-text" href="#four!">
<!--       <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p> -->
    </div>
  </div>



<div class="full sidemargin">
<div class="input-field col s12">
  <i class="material-icons prefix">search</i>
  <input type="textarea" id="autocomplete-input" class="form-control" ng-model="search" placeholder="Search for a product...">
</div>
<br>
<br>
<br>
<h4 class="float"> </h4>
<div class="filters" id="filters">
<a class="filterlink" ng-click="myFilter = { }">All |</a>
<a class="filterlink" ng-click="myFilter = {category: 'Ethernet Switches'}">Ethernet Switches |</a>
<a class="filterlink" ng-click="myFilter = {category: 'Media Converters'}">Media Converters |</a>
<a class="filterlink" ng-click="myFilter = {category: 'Ethernet Extenders'}">Ethernet Extenders |</a>
<a class="filterlink" ng-click="myFilter = {category: 'Power Supplies'}">Power Supplies    </a>
</div>

<!-- <a ui-sref="ethernetswitches" class="linky"> Ethernet Switches</a>
<a ui-sref="ethernetextenders" class="linky"> Ethernet Extenders</a>
<a ui-sref="mediaconverters" class="linky"> Media Converters</a>
<a ui-sref="powersupplies" class="linky"> Power Supplies</a>
 -->
<div class="fuller">
<div ng-controller="ProductsController as pCtrl">
  <div ng-repeat="product in pCtrl.products | orderBy:'name' | filter:search | filter:myFilter">
   <!-- <div ng-repeat="product in pCtrl.products | orderBy:'name' | filter:{category: 'Ethernet Switches'}"> -->
    <div class="main col s12 m6 l3">
      <div>
        <div class="card-image">
          <img ui-sref="viewProduct({productId: product._id})" ng-src="{{product.imageURL}}" height="200">
<!--           <a class="btn-floating halfway-fab waves-effect waves-light green" ng-click="pCtrl.addItemToCart(product)"><i>ADD</i></a>
 -->        </div>
        <div class="card-stacked">
        <div class="card-content">
          <p class="content addfloat">{{product.name}}
          <br>${{product.price}}</p>
          <button class="btn black" ng-click="pCtrl.addItemToCart(product)">Add <i class="material-icons">shopping_cart</i></button>
<!--           <a class="addtocart" ng-click="pCtrl.addItemToCart(product)">Add to cart</a>
 -->        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


   <script src="/javascripts/materialize.js"></script>

<!-- The code below is to Add a new produt. I will implement later in the future when I set up Admin accounts. -->
<li ng-show="navCtrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="newProduct">New Product</a></li>

