* {
  font-family: 'Assistant', sans-serif;
  font-size: 25px;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "akbar";
  src: url("akbar.ttf");
}

a {
/*  color: #00B7FF;*/
  color: black !important;
}

.apu {
  float: left;
}

.col-md-4 {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 30px;
}

.float {
  float: left;
  /*border: 1px solid black;*/
  margin-right: 10px;
}

.card-img-top {
  border: 1px solid black;
}

.arrow {
  font-size: 20px;
  margin: 10px;
}

.card {
  border: 6px solid black;
}

.nav-extended {
  padding: 10px;
  border: 2px solid black;
  background-color: white !important;
  height: 80px !important;
  color: black !important;
/*  background-image: url("https://scontent-lax3-2.xx.fbcdn.net/v/t31.0-8/12473712_952949888106776_3337038826035085424_o.jpg?oh=6b7981c137e3c3fe82dd1839778b1ab7&oe=5B4CA05B");
  background-size: contain;
  background-repeat: no-repeat;*/
}

.checkout {
  border: 2px solid black;
  border-radius: 10px;
}

.clear {
  clear: left;
}

.orders {
  border: 4px solid black;
  margin-top: 20px;
  margin-bottom: 50px;
}

.order {
  border: 1px solid black;
}

.audio {
  display: none;
}

.center-form {
  text-align: center;
}

.input-size {
  font-size: 20px !important;
}

.label-size {
  font-size: 15px !important;
}

.m2 {
  height: 400px;
}

.card-content {
  height: 150px;
  text-align: left;
}

.card-image {
  text-align: center;
}

.filters {
  margin-bottom: 50px;
  text-align: right;
  margin-right: 20px;
}

.reviews {
  border: 1px solid black;
  border-radius: 5px;
}

.review-form {
  margin-top: 100px;
}

.card-image {
  cursor: pointer;
  cursor: hand;
}


/*.banner{
  background-image: url("https://s-media-cache-ak0.pinimg.com/564x/1d/d5/8c/1dd58cbc9f1f1c4457aa7c0e4fb28e34.jpg")
}*/

/*.container {
  background-color: white;
}*/


li.image {
margin: 10px;
overflow: hidden;
width:320px;
height:200px;
}

a.image2 {
margin: 10px;
overflow: hidden;
float: left;
width:760px;
height:400px;
}

.box1, .box2, .box3 {
  background-size: cover;
}

.box1 {
  background-image: url("https://www.walldevil.com/wallpapers/a22/homer-simpson-the-simpsons-donut-dessert-food.jpg");
}

.box2 {
  background-image: url("http://i.imgur.com/Jqewnaw.jpg?1");
}

.box3 {
  background-image: url("http://i.imgur.com/EohDwSy.jpg?2");
}

@media screen and (max-width: 1200px) {
  .advertise {
    visibility: hidden;
    display: none;
  }
}


.jumbotron, .mainjumbo{
    /*margin:15px 30px 0px 30px;*/
    /*border-radius:10px;*/
    background:linear-gradient(rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)),
    url(http://www.wallpapersshock.com/uploads/large/hd-computer/free-3d-technology-hd-wallpapers-download.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height:740px;
    color: white !important;
/*    position:fixed;
    top:0;*/
    position: relative;
/*    z-index: 1 !important;*/
    width: 100%;
}

/*.full {
margin-top:500px;
background-color: white;
z-index: 3;
}

.fuller {
  background-color: black !important;
  z-index: 2;
}*/

.blue{
  background:linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)),
  url(https://i.imgur.com/G43cpMk.jpg);
/*  background-image: url("https://i.imgur.com/A7twmdJ.jpg");
*/  background-size: 100%;
  background-repeat: no-repeat;
/*  background-attachment: fixed;
  background-position: center;*/
}

.yellow {
  background:linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)),
  url(https://i.imgur.com/S6vre8i.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.purple {
  background:linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)),
  url(https://i.imgur.com/gxxqiTs.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.pink {
  background:linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)),
  url(https://i.imgur.com/mng9vtg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;

}
.banner {
  margin: 0px !important;
  padding: -5px !important;
  /*overflow: visible;*/
}

.carousel {
  /*width: 100%;*/
}

.content {
  font-size: 15px;
}

.addtocart {
  font-size: 10px;
}

.main {
  padding-left: 20px !important;
}

.filterlink {
  font-size: 14px;
  color: black;
}

.float {
  float: left;
}





/*.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}*/

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    bottom: -5rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    bottom: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes topFadeOutVertical {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 45%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
    position: absolute;
    right: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    right: 10rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}

.first-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 5s;
  color: white;
}

.second-text {
  font-size: 3.4rem;
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 3s;
  animation-duration: 6s;
  color: #ccc;
}

.third-text {
  transform: rotate(-90deg);
  font-size: 2rem;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 7.5s;
  animation-duration: 6s;
  color: #A3DDF0;
  white-space: nowrap;
}

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 8.5s;
  animation-duration: 9s;
}

.fifth-text {
  font-size: 5rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: #F0EBA3;
  animation-name: bottomFadeOut;
  animation-delay: 10s;
  animation-duration: 9s;
}

.jumbot {
  padding-left: 40px;
}

.padding {
  margin-left: 10px !important;
}

.paddingright {
  padding-right: 15px;
}

.linky {
  font-size: 14px;
  padding-left: 20px;
  color: black;
}

.smalltext {
  font-size: 15px;
}

.alignright {
  text-align: right;
  padding-right: 15px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.cartmargin {
  margin-top: 10px;
}




.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 120px;
    z-index: 1 !important;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.whitelink {
  color: white !important;
  font-size: 18px !important;
}

.sidemargin {
  margin-left: 220px;
}

.addfloat {
  float:left;
  margin-right: 50px;
}

.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #6e6d70;
  text-align: center;
  font-size: 15px;
}

.sidemarginn {
  margin-left: 200px;
  width: auto;
}

.follow {
  float:left;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#sidenav-overlay { z-index: 1; }

